fastapi
uvicorn[standard]
python-multipart
openai
requests
pandas
openpyxl
pydantic
passlib[bcrypt]
PyJWT>=2.8.0
sqlalchemy
pymysql
cryptography
python-dotenv
redis[hiredis]==5.2.1
zhconv
openai-whisper
